html {
  height: 100%;
  width: 100%;
}
#background-image {
  position: fixed; /* Fix the image to the viewport */
  bottom: 0; /* Position it at the bottom */
  left: 0; /* Position it at the left */
  width: 100%; /* Make it full width */
  height: 100%; /* Make it full height */
  z-index: -1; /* Put it in the background layer */
}
